<app-user-navbar></app-user-navbar>
<div class="checkout">
    <br/><br/>
    <div class="container mt-5">
        <div class="col-md-3 float-right">
            <button class="btn btn-sm float-right mr-2" *ngIf="paymentMode === 'COD'" (click)="placeOrder()">
                Place Order <i class="fa-solid fa-truck"></i>
            </button>
            <button class="btn btn-sm float-right mr-2" *ngIf="['UPI', 'Credit Card', 'Debit Card'].includes(paymentMode)" (click)="proceedToPayment()">
                Proceed to Pay <i class="fa-solid fa-money-check"></i>
            </button>
        </div>
    </div>
    <div class="container order-details-container mt-5 mb-5">
        <h2 class="order-details-header">Order Details</h2>
        <div *ngIf="errorMessage" class="error-message">
            <div class="alert alert-danger error-message" role="alert">
                <i class="fa fa-exclamation-triangle error-icon"></i>
                {{ errorMessage }}
            </div>
        </div>
        <table class="table table-hover order-details-table">       
            <thead>
                <tr>
                    <th>FoodItem</th>
                    <th>Quantity</th>
                    <th>Price (&#8377;)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderDetails.CartItems">
                    <td>
                        {{order.FoodName}}
                    </td>
                    <td>
                        {{order.Quantity}}
                    </td>
                    <td>
                        {{order.CartPrice | number:'1.2-2'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="total">
            <strong><span>Total Amount: </span> &#8377; {{orderDetails.TotalAmount | number:'1.2-2'}}</strong>
        </div>
        <div class="payment-det">
            <div>
                <div class="mb-3 mode"><strong>Payment Mode: </strong> {{paymentMode}}</div>
                <div class="radio-btn-group">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="creditCard" name="paymentMode" value="Credit Card" [(ngModel)]="paymentMode" (change)="saveSelectedPaymentMode()">
                      <label class="form-check-label" for="creditCard">
                        Credit Card
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="debitCard" name="paymentMode" value="Debit Card" [(ngModel)]="paymentMode" (change)="saveSelectedPaymentMode()">
                      <label class="form-check-label" for="debitCard">
                        Debit Card
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="upi" name="paymentMode" value="UPI" [(ngModel)]="paymentMode" (change)="saveSelectedPaymentMode()">
                      <label class="form-check-label" for="upi">
                        UPI
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="cod" name="paymentMode" value="COD" [(ngModel)]="paymentMode" (change)="saveSelectedPaymentMode()">
                      <label class="form-check-label" for="cod">
                        Cash on Delivery (COD)
                      </label>
                    </div>
                  </div>
            </div>
        </div>
        <div class="order-details-customer">
            <h5>Customer Details</h5>
            <div class="customer-details">
                <dl>
                    <div class="row">
                        <div class="col-md-6">
                            <dt>Name:</dt>
                            <dd>{{orderDetails.UserDetails.FullName}}</dd>
                            <dt>Phone Number:</dt>
                            <dd>{{orderDetails.UserDetails.ContactNo}}</dd>
                        </div>
                        <div class="col-md-6">
                            <dt>Email:</dt>
                            <dd>{{orderDetails.UserDetails.EmailId}}</dd>        
                            <dt>Address:</dt>
                            <dd>{{orderDetails.UserDetails.Address}}</dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>