.reset-container {  
    padding: 30px 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}
h4{
    color: rgb(65, 117, 158);
}
label {
    font-size: 15px;
}
input {
    font-size: 14px;
}
.form-control:focus {
  box-shadow: none;
  border: none;
  border-bottom: 4px solid rgb(65, 117, 158);
}
div a {
    color:  rgb(65, 117, 158);
    font-size: 14px;
}
.btn {
  border: none;
  background-color: rgb(65, 117, 158);
  color: #f2eef7;
}
.btn:hover {
    background-color: transparent;
    color: rgb(65, 117, 158);
    box-shadow: 2px 2px 4px rgba(65, 117, 158, 0.6);
}

.success-message {
    color: green;
    margin-top: 8px;
    font-size: 13px;
  }
  .error-message {
    color: red;
    margin-top: 8px;
    font-size: 13px;
  }