<div class="error">
    <br/><br/>
    <div class="container mt-5"> 
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="not-found-box">
                    <i class="fas fa-exclamation-circle not-found-icon"></i>
                    <h3>Page Not Found</h3>
                    <p>Sorry, the page you are looking for might be in another castle.</p>
                    <button class="btn back-home-btn"><a (click)="goToLogin()">Back to Login</a></button>
                </div>
            </div>
        </div>
    </div>
</div>