.container {
    margin-top: 60px;
}
.app-name-container {
    text-align: center;
    margin-bottom: 20px;
}
.app-name {
    font-size: 42px;
    font-weight: 600;
}
.login-container {  
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}
h3{
    color: rgb(65, 117, 158);
}
h5 {
    color: rgb(180, 180, 180);
}

label {
    font-size: 15px;
    color: rgb(180, 180, 180);
}
input, textarea {
    font-size: 14px;
    background-color: rgb(25, 25, 25);
    border: none;
    color: rgb(180, 180, 180);
    border-left: 4px solid rgb(65, 117, 158);;
  }
  .form-control:focus {
    box-shadow: none;
    border: none;
    background-color: rgb(25, 25, 25);
    border-left: none;
    border-bottom: 3px solid rgb(65, 117, 158);
  }
div a {
    color: rgb(65, 117, 158);
    font-size: 14px;
}
div a:hover {
    cursor: pointer;
}
.btn {
  border: none;
  background-color: rgb(65, 117, 158);
  color: #f2eef7;
}
.btn:hover {
    background-color: transparent;
    color: rgb(65, 117, 158);
    box-shadow: 0 0 8px rgba(65, 117, 158, 0.6);
}
.success-message {
    color: green;
    margin-top: 8px;
    font-size: 13px;
  }
.error-message {
    color: red;
    margin-top: 8px;
    font-size: 13px;
  }