
<br/>
<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="reset-container well">
            <h4 class="text-center"><b>Forgot Password?</b></h4>
            <h6 class="text-center">Reset Password</h6>
          <form (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label for="email"><strong>Email</strong></label>
              <input type="text" id="email" name="email" class="form-control" placeholder="Email Id" [(ngModel)]="resetPasswordData.EmailId"  required autofocus>
            </div>
            <div class="form-group">
              <label for="newPassword"><strong>New Password</strong></label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" [(ngModel)]="resetPasswordData.NewPassword" required autofocus>
            </div>
            <div class="form-group">
                <label for="confirmPassword"><strong>Confirm Password</strong></label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" [(ngModel)]="resetPasswordData.ConfirmPassword" required autofocus>
              </div>
              <div class="form-group">
                <label for="contact"><strong>Phone Number</strong></label>
                <input type="text" id="contact" name="contact" class="form-control" placeholder="Phone No" [(ngModel)]="resetPasswordData.ContactNo" required autofocus>
              </div>
              <div *ngIf="successMessage" class="success-message">
                <div class="alert alert-success success-message" role="alert">
                    <i class="fa fa-check-circle success-icon"></i>
                    {{ successMessage }}
                </div>
            </div>         
            <div *ngIf="errorMessage" class="error-message">
                <div class="alert alert-danger error-message" role="alert">
                    <i class="fa fa-exclamation-triangle error-icon"></i>
                    {{ errorMessage }}
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-block mt-4">Reset Password</button>
            <button class="btn btn-sm btn-block mt-2" (click) = "goToLogin()">Back To Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>